<web-app>
<servlet>
<servlet-name>BMWHidden</servlet-name>
<servlet-class>BMWHidden</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BMWHidden</servlet-name>
<url-pattern>/bmwhidden</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RestoreBMWHidden</servlet-name>
<servlet-class>RestoreBMWHidden</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RestoreBMWHidden</servlet-name>
<url-pattern>/restorebmwhidden</url-pattern>
</servlet-mapping>
</web-app>
