/* General styles for input fields */
input, select {
    height: 2rem;
    width: 15rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    }
    /* Styles for submit button */
    input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    }
    input[type="submit"]:hover {
    background-color: #0056b3;
    }
    /* Styles for labels */
    label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    }
    /* Styles for anchor tags */
    a {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin-top: 1rem;
    }
    a:hover {
    background-color: #45a049;
    }