<web-app>
<servlet>
<servlet-name>BMWCookie</servlet-name>
<servlet-class>BMWCookie</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BMWCookie</servlet-name>
<url-pattern>/bmwcookie</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RestoreBMWCookie</servlet-name>
<servlet-class>RestoreBMWCookie</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RestoreBMWCookie</servlet-name>
<url-pattern>/restorebmwcookie</url-pattern>
</servlet-mapping>
</web-app>