<web-app>
<servlet>
<servlet-name>StoreBMWM8</servlet-name>
<servlet-class>StoreBMWDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>StoreBMWM8</servlet-name>
<url-pattern>/storeBMWDetails</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>AccessBMWM8</servlet-name>
<servlet-class>AccessBMWDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AccessBMWM8</servlet-name>
<url-pattern>/accessBMWDetails</url-pattern>
</servlet-mapping>
</web-app>