<web-app>
<servlet>
<servlet-name>BMWURL</servlet-name>
<servlet-class>BMWURL</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BMWURL</servlet-name>
<url-pattern>/bmwurl</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RestoreBMWURL</servlet-name>
<servlet-class>RestoreBMWURL</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RestoreBMWURL</servlet-name>
<url-pattern>/restorebmwurl</url-pattern>
</servlet-mapping>
</web-app>