<web-app>
<servlet>
<servlet-name>BMWServlet</servlet-name>
<servlet-class>BMWServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BMWServlet</servlet-name>
<url-pattern>/bmwsession</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>RestoreBMWServlet</servlet-name>
<servlet-class>RestoreBMWServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RestoreBMWServlet</servlet-name>
<url-pattern>/restorebmwsession</url-pattern>
</servlet-mapping>
</web-app>